<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Teevy.co</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="/my_assets/styles.min.css">
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="teevyApp" class="l-page">
    <div class="page__content">
      <div class="l-row--header" ng-controller="userCtrl">
        <div class="l-wrap--responsive l-justified">
          <div class="justified__item">
            <a class="logo" href="/"></a>
          </div>

          <div dropdown open="showMenu" class="justified__item user-menu">
            <a class="feedback__link" href="mailto:teevy.co@gmail.com?Subject=Feedback">Have feedback?</a>

            <button ng-click="showMenu = !showMenu" class="user-menu__icon icon icon--cog"></button>

            <div class="island user-menu__dropdown dropdown">
              <img class="user-menu__avatar" ng-src={{user.avatar_url}}>
              <h3 class="user-menu__username">{{user.login}}</h3>
              <button class="user-menu__button button--grey" ng-click="logout()">Log out</button>
            </div>
          </div>
        </div>
      </div>

      <div class="l-row--high" ng-controller="appCtrl">
        <div class="l-wrap--responsive l-justified">
          <div class="justified__item--responsive">
            <div class="navigation">
              <a href="#/dashboard" class="navigation__item ng-class: isActive('dashboard') "><h2>Dashboard</h2></a>
              <a href="#/explore" class="navigation__item ng-class: isActive('explore')"><h2>Explore</h2></a>
            </div>
          </div>

          <div class="justified__item--responsive">
            <div dropdown open="showSearchResults" class="search-form icon icon--search">
              <input ng-model="search" type="text" class="search-form__input" placeholder="Search for a show">

              <div class="search__dropdown dropdown">
                <div ng-repeat="show in filteredShows" class="flag island--small show-entry">
                  <div class="flag__sidebar">
                    <img ng-src="{{show.image_url}}" alt="{{show.title}}" class="thumb">
                  </div>
                  <div class="flag__content">
                      <h4>{{show.title}}</h4>
                      <p class="show-entry__emph">{{show.show_started | date:'YYYY'}} - <span ng-if="show.in_production">Still airing</span><span ng-if="!show.in_production">{{show.show_ended | date:'YYYY'}}</span></p>
                  </div>
                  <div class="flag__sidebar--right">
                    <button ng-if="show.subscription_id == null" class="button" ng-disabled="show.pending" ng-click="subscribe(show)">Add</button>
                    <button ng-if="show.subscription_id != null" class="button--dark" ng-disabled="show.pending" ng-click="unsubscribe(show)">Remove</button>
                  </div>
                </div>
                <div ng-hide="filteredShows" class="island">
                  <div class="search__empty">
                    Sorry, couldn't find show '{{search}}' in our database.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="l-row">
        <div class="l-wrap--responsive">
          <div ng-view></div>
        </div>
      </div>
    </div>

    <div class="page__footer">
      <div class="l-row footer">
        <div class="l-wrap--responsive">
          <div class="l-justified">
            <div class="justified__item">© Teevy 2014 <a class="footer__link" href="//twitter.com/yassinebentaieb">@yassinebentaieb</a>, <a class="footer__link" href="//twitter.com/vdziubak">@vdziubak</a>, <a class="footer__link" href="//twitter.com/@mark_dj">@mark_dj</a></div>
            <div class="justified__item">This product uses the TMDb API but is not endorsed or certified by TMDb</div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/ng-template" id="explore.html">
      <div class="grid"><!--
        --><div ng-repeat="show in shows" class="grid__item tw-iar--one-half th-iar--one-third fo-iar--one-quarter fi-iar--one-fifth">
          <div class="show-tile">
            <img ng-src="{{show.image_url}}" alt="{{show.title}}">
            <div class="show-tile__overlay">
              <h3 class="island">{{show.title}}</h3>
            </div>
            <div class="island tile-ui">
              <button ng-if="show.subscription_id == null" class="button tile-ui__button" ng-disabled="show.pending" ng-click="subscribe(show)">Add</button>
              <button ng-if="show.subscription_id != null" class="button--dark tile-ui__button" ng-disabled="show.pending" ng-click="unsubscribe(show)">Remove</button>
            </div>
          </div>
        </div><!--
      --></div>
    </script>

    <script type="text/ng-template" id="dashboard.html">
      <div class="grid"><!--
        --><div ng-repeat="subscription in subscriptions" class="grid__item tw-iar--one-half th-iar--one-third fo-iar--one-quarter fi-iar--one-fifth">
          <subscription-tile subscription="subscription"></subscription-tile>
        </div><!--
      --></div>
    </script>

    <script type="text/ng-template" id="subscription-tile.html">
      <div class="flip">
        <div class="flip__card flip__card--front ng-class:{'flip__card--is-open': !config}">
          <div class="show-tile">
            <a href="" ng-click="enterConfig()" class="show-tile__option show-tile__option--right show-tile__option--light icon icon--cog"></a>

            <img ng-src="{{subscription.show.image_url}}" alt="{{subscription.show.title}}">

            <div class="show-tile__overlay">
              <h3 class="island">{{subscription.show.title}}</h3>
            </div>

            <div ng-if="!subscription.watched_all" class="island tile-ui">
              <div class="tile-ui__emph">Next to see: S{{subscription.next_unseen.season_number}} E{{subscription.next_unseen.episode_number}}</div>

              <h4 class="tile-ui__heading">{{subscription.next_unseen.title}}</h4>

              <button ng-disabled="sawLastAired" class="button tile-ui__button" ng-click="setEpisode('next')"><span ng-if="!sawLastAired">I watched this</span><span ng-if="sawLastAired">Airing {{subscription.next_unseen.aired_at | date:'MMM Do'}}</span></button>
            </div>

            <div ng-if="subscription.watched_all && subscription.show.in_production" class="island tile-ui">
              <h4 class="tile-ui__heading">You watched all aired episodes</h4>

              <button disabled="disabled" class="button tile-ui__button">No new air date</button>
            </div>

            <div ng-if="subscription.watched_all && !subscription.show.in_production" class="island tile-ui">
              <h4 class="tile-ui__heading">You have finished watching this show</h4>
            </div>
          </div>
        </div>

        <div class="flip__card flip__card--back  ng-class:{'flip__card--is-open': config}">
          <div class="show-tile">
            <a href="" ng-if="initialized" ng-click="exitConfig()" class="show-tile__option show-tile__option--right show-tile__option icon icon--cross"></a>

            <div class="island tile-ui--full" ng-if="!manual">
              <div class="bobber__wrap">
                <div class="bobber--bottom">
                  <img class="thumb tile-ui__thumb" ng-src="{{subscription.show.image_url}}" alt="{{subscription.show.title}}">

                  <h3 class="tile-ui__heading">{{subscription.show.title}}</h3>

                  <div ng-if="initialized">
                    <p class="island--small">What do you want to do?</p>

                    <button class="button tile-ui__button--full" ng-click="enterManual()">Change episode</button>

                    <button ng-disabled="pending" class="button--dark tile-ui__button--full" ng-click="unsubscribe()">Remove show</button>
                  </div>

                  <div ng-if="!initialized">
                    <p class="island--small">Track from which episode?</p>

                    <button class="button tile-ui__button--full" ng-disabled="pending" ng-click="setEpisode('first')">First aired: <span class="button__emph">S1 E1</span></button>

                    <button class="button tile-ui__button--full" ng-disabled="pending" ng-click="setEpisode('last')">Last aired: <span class="button__emph">S{{subscription.last_aired.season_number}} E{{subscription.last_aired.episode_number}}</span></button>

                    <button class="button tile-ui__button--full" ng-click="enterManual()">Choose manually</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="tile-ui--full" ng-if="manual">
              <div class="island tile-ui__subheading">Start tracking from</div>

              <ul class="tile-ui__select-list select-list">
                <li ng-repeat="ep in episodes">
                  <div ng-click="selectEpisode(ep)" class="select-list__item ng-class: {'not-aired': !isAired(ep), active: selected_episode === ep}">
                    S{{ep.season_number}} E{{ep.episode_number}} - {{ep.title | characters:25:true}}
                  </div>
                </li>
              </ul>

              <div class="island">
                <button class="button tile-ui__button--full" ng-disabled="pending" ng-click="setEpisode('custom', selected_episode.id)">Go</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script src="/my_assets/scripts.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47973422-1', 'teevy.co');
      ga('send', 'pageview');
    </script>
  </body>
</html>