<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Teevy.co</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="/my_assets/styles.min.css">
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="teevyLanding" ng-controller="appCtrl as ac">
    <div class="l-row--absolute l-row--medium">
      <div class="l-wrap">
        <div class="l-justified">
          <div class="justified__item">
            <a class="logo logo--landing" href="/"></a>
          </div>

          <div class="justified__item">
            <div class="menu-guest">
              <button class="menu-guest__button button" ng-click="ac.changeModalType('signup')">Sign up</button> or <button href="" class="menu-guest__button" ng-click="ac.changeModalType('login')">Log in</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="l-row--fullheight landing-pitch">
      <div class="bobber__wrap--center">
        <div class="bobber--middle">
          <h1 class="landing-pitch__heading">Keep track of your shows in a beautiful way.</h1>
          <div class="landing-pitch__slogan">Never forget where you are and always know when a next episode is airing.</div>
          <img src="/images/landing-tiles.png" alt="" class="landing-pitch__tiles">
        </div>
      </div>
    </div>


    <div ng-if="ac.modalType" ng-cloak>
      <div class="l-row--overlay"></div>

      <div class="l-row--fullheight l-row--absolute">
        <div class="bobber__wrap--center">
          <div class="bobber--middle">
            <div class="flip" modal="ac.modalType">
              <div class="flip__card flip__card--front ng-class: {'flip__card--is-open': ac.modalType == 'signup'}">
                <div class="island modal">
                  <!-- <h3 class="modal__heading">Sign up quickly</h3>
                  <div>
                    <button class="modal__button button--twitter"><i class="icon icon--twitter"></i> With Twitter</button>
                    <button class="modal__button button--facebook"><i class="icon icon--facebook"></i> With Facebook</button>
                  </div> -->

                  <form ng-submit="ac.signUp()">
                    <h3 class="modal__heading--lines">Create an account</h3>

                    <div>
                      <input ng-click="ac.resetErrors('login')" type="text" class="modal__input" placeholder="Username" title="Username field is required" required ng-model="ac.login">
                      <input ng-click="ac.resetErrors('email')" type="email" class="modal__input" placeholder="Email address" title="Email field is required" required ng-model="ac.email">
                    </div>

                    <div password-confirmation>
                      <input type="password" pattern=".{6,}" class="modal__input password" placeholder="Password" title="Password field is required (minimum 6 characters)" required ng-model="ac.password">
                      <input type="password" pattern=".{6,}" class="modal__input confirmation" placeholder="Password confirmation" required ng-model="ac.password_confirmation">
                    </div>

                    <div class="island--small message--error" ng-if="ac.errors.login">{{ac.errors.login}}</div>
                    <div class="island--small message--error" ng-if="ac.errors.email">{{ac.errors.email}}</div>

                    <button class="button modal__button">Sign up</button>
                  </form>

                  Already have an account? <button class="modal__fliplink" ng-click="ac.changeModalType('login')">Log in here</button>
                </div>
              </div>

              <div class="flip__card flip__card--back ng-class: {'flip__card--is-open': ac.modalType == 'login'}">
                <div class="island modal">
                  <!-- <h3 class="modal__heading">Log in quickly</h3>
                  <div>
                    <button class="modal__button button--twitter"><i class="icon icon--twitter"></i>With Twitter</button>
                    <button class="modal__button button--facebook"><i class="icon icon--facebook"></i>With Facebook</button>
                  </div> -->

                  <form ng-submit="ac.logIn()">
                    <h3 class="modal__heading--lines">Log in with our account</h3>

                    <div>
                      <input ng-click="ac.resetErrors('login')" type="text" class="modal__input" placeholder="Username or email" title="This field is required" required ng-model="ac.login">
                      <input ng-click="ac.resetErrors('login')" type="password" class="modal__input" placeholder="Password" title="This field is required" required ng-model="ac.password">
                    </div>

                    <div class="island--small message--error" ng-if="ac.errors.login">{{ac.errors.login}}</div>

                    <button class="button modal__button">Let me in</button>
                  </form>

                  Don’t have an account yet? <button class="modal__fliplink" ng-click="ac.changeModalType('signup')">Sign up here</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/my_assets/scripts.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47973422-1', 'teevy.co');
      ga('send', 'pageview');
    </script>
  </body>
</html>