.copyright {
  position: absolute;
  width: 100%; left: 0;

  font-size: 12px; font-size: rem(12);
  line-height: 20px; line-height: rem(20);
  color: $light-blue;
  text-align: center;
}
  .copyright--top { top: 20px; top: rem(20) }
  .copyright--bottom { bottom: 20px; bottom: rem(20) }

.copyright__link {
  color: $light-blue;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}