.footer {
  padding: 20px 0; padding: rem(20) 0;
  font-size: 12px; font-size: rem(12);
  line-height: 20px; line-height: rem(20);

  color: mix( $light-blue, $dark-blue, 40%);

  .justified__item {
    font-size: 12px; font-size: rem(12);
    line-height: 20px; line-height: rem(20);
  }
}

.footer__link {
  color: mix( $light-blue, $dark-blue, 60%);
  text-decoration: underline;

  @include transition-property(color);
  @include transition-duration(0.2s);

  &:hover {
    color: mix( $light-blue, $dark-blue, 40%);
  }
}