.landing-pitch {
  color: $light-blue;
  font-size: 20px; font-size: rem(20);
  line-height: 30px; line-height: rem(30);

  background: url('/images/landing-bg.jpg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

.landing-pitch__heading {
  color: $light;
  margin-bottom: 10px;
  margin-bottom: rem(10);
}

.landing-pitch__slogan {
  padding-bottom: 250px;
  padding-bottom: rem(250);
}