@font-face {
  font-family: 'teevy';
  src:url('/fonts/teevy.eot?4jn3ly');
  src:url('/fonts/teevy.eot?#iefix4jn3ly') format('embedded-opentype'),
    url('/fonts/teevy.woff?4jn3ly') format('woff'),
    url('/fonts/teevy.ttf?4jn3ly') format('truetype'),
    url('/fonts/teevy.svg?4jn3ly#teevy') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  font-family: 'teevy';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--facebook:before {
  content: "\e600";
}
.icon--twitter:before {
  content: "\e601";
}
.icon--arrow-left:before {
  content: "\e602";
}
.icon--trash:before {
  content: "\e603";
}
.icon--cog:before {
  content: "\e604";
}
.icon--search:before {
  content: "\e605";
}
.icon--cross:before {
  content: "\e606";
}
.icon--cross2:before {
  content: "\e607";
}